.container{
    background-color: black;
    color: white;
    margin: 10%;
    width: 40%;
    padding: 2em;
    /* border: 1px solid blue; */
}
h2{
    text-align: center;
}
input{
    background-color: white;
    color: black;
    width: 75%;
    padding: 0.5em;
    margin-left: 2em;
}
#child-container{
    position: relative;
    overflow: scroll;
    height: 10em;
    /* border: 1px solid yellow; */
    margin-top: 1em;
}
ul{
    padding: 0;
    text-decoration: none;
    margin: 0;
    /* border: 1px solid red; */
    position: absolute;
    top: 0; 
    left: 2em;
    right: 2em;
}

li{
    list-style-type: none;
    text-align: center;
    /* border: 1px solid green; */
    /* padding: 2em; */
    
    
}
li p{
    margin: 0;
    padding: 0.5em;
}
a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
}